<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.logr-ingest.com/LogRocket.min.js" crossorigin="anonymous"></script>
    <script>window.LogRocket && window.LogRocket.init('aynauq/cosphere');</script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device.width, initial-scale=1.0"/>
    <link rel="icon" type="img/ico" href="/image/favicon.ico" media="(prefers-color-scheme: light)">
    <link rel="icon" type="img/ico" href="/image/darkFavicon.ico" media="(prefers-color-scheme: dark)">
    <title>Index</title>
    <style>

        :root{
            --primary: #217ec3;
            --primaryHover: #0580db;
            --lightGray: #eef2f4;
            --darkGray: #2f2f33;
            --grey: #7a7a7a;
        }

        body {
            background-color: var(--lightGray);
            margin: 0;
        }

        a{
            color: var(--darkGray);
            cursor: pointer;
            text-decoration: none;
        }

        a:hover{
            color: var(--primary);
        }

    </style>

</head>
<body>

    <script src="/js/index.js"></script>

</body>
</html>
