<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device.width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" type="img/svg" href="/image/logo.svg"/>
    <title>CoSphere</title>

</head>
<body>
    <div class="headerContainer">
        <img src="/image/text-logo.svg" class="logo" alt="CoSphere Logo"/>

        <div class="loginSignUpTitle">
            <a href="/user/signup">Sign Up</a>
            <a href="/user/login">Log In</a>
        </div>
    </div>
    
    <h1 class="mainTitle">Your Virtual Coworking Community</h1>
    <p class="mainText" style="width: 686px; margin: 0 auto;">CoSphere is a virtual coworking community that allows you to connect with other remote workers and freelancers. Our platform provides a space for you to work, network, and collaborate with others in your field. Join us today and take your remote work experience to the next level!</p>
    
    <div class="imageContainer">
        <img src="/image/heroimage.jpg" alt="Hero image" />
    </div>
</body>
</html>

