:root {
    --primary: #217EC3;
    --primaryHover: #0580DB;
    --lightGray: #EFF1F3;
    --darkGray: #2F2F33;
    --grey: #7A7A7A;
}

a:-webkit-any-link {
    color: var(--darkGray);
    cursor: pointer;
    text-decoration: none;
}

a:-webkit-any-link:hover {
    color: var(--primaryHover);
}