<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device.width, initial-scale=1.0"/>
        <link rel="icon" type="img/svg" href="/image/logo.svg"/>
        <title>Checkout | CoSphere </title>
    </head>
    <body>
        <form id="form">
            <h1>One month</h1>

            <button>Purchase</button>
        </form>

        <script>
            document.getElementById("form").addEventListener("submit", ()=>{
                event.preventDefault();

                fetch("/stripe/checkout-session", {
                    method: "post",
                    redirect: "follow",
                    headers: {
                        "Content-Type": "application/json",
                        Authorization: `Bearer ${localStorage.getItem("coworkToken")}`
                    },
                    body: JSON.stringify({
                        price: "price_1On7CgI8NTnuAPIlq2ATM9Xl",
                        payment: true
                    })
                })
                    .then(r=>r.json())
                    .then((response)=>{
                        window.location.href = response.url;
                    })
                    .catch((err)=>{});
            })
        </script>
    </body>
</html>
