<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device.width, initial-scale=1.0"/>
        <link rel="icon" type="img/svg" href="/image/logo.svg"/>
        <link rel="stylesheet" href="/css/dashboard.css"/>
        <title>CoSphere</title>
    </head>
    <body>
        <header>
            <img src="/image/text-logo.svg" alt="CoSphere logo with text"/>

            <div class="headerRight">
                <button class="buttonLink" id="coworkingBtn">Coworking</button>

                <button class="buttonLink" id="deskBtn">My Desk</button>
            </div>
        </header>

        <main id="container">
            <div id="banner" style="display:none">
                <p></p>
            </div>

            <div id="homePage" class="page">
                <div id="tables"></div>

                <template id="tablesTemplate">
                    <div class="table">
                        <h2 class="tableTitle"></h2>

                        <div class="joinTitle">Join</div>

                        <div class="occupant"><p class="name"</p></div>
                        <div class="occupant"><p class="name"</p></div>
                        <div class="occupant"><p class="name"</p></div>
                        <div class="occupant"><p class="name"</p></div>
                        <div class="occupant"><p class="name"</p></div>
                        <div class="occupant"><p class="name"</p></div>
                    </div>
                </template>

                <template id="occupantTemplate">
                    <div class="occupant">
                        <p class="name"></p>
                    </div>
                </template>

                <div id="meeting" data-fs="false" style="display:none"></div>

                <div id="homeBlocker" style="display:none"></div>
            </div>

            <div id="deskPage" class="page" style="display:none">
                <h1>My Desk</h1>
            </div>
        </main>
        
        <script src='https://8x8.vc/external_api.js'></script>
        <script src="/js/dashboard.js"></script>
    </body>
</html>
