#homePage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: pink;
    height: 100%;
    width: 100%;
}

#homePage .table{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 700px;
    background: white;
    border: 1px solid black;
}
