#homePage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    position: relative;
}

#tables{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100%;
    width: 100%;
    padding-top: 35px;
}

#tables .table{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 325px;
    width: 500px;
    border: 3px solid #dadada;
    background: white;
    box-shadow: 10px 18px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 21px;
    position: relative;
    cursor: pointer;
    margin: 35px;
}

.tableTitle{
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#tables .table:hover{
    border: 3px solid #719ef0;
}

#tables .table.joinedTable{
    border: 3px solid #719ef0;
}

#tables .table:hover .joinTitle{
    display: flex;
}

.joinTitle{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: calc(50% - 40px);
    height: 20px;
    width: 80px;
    border-radius: 9px;
    background: #719ef0;
    color: white;
    font-size: 12px;
}

.table .occupant{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 75px;
    border-radius: 8px;
    background: rgba(105, 105, 105, 0.2);
    margin: 0 35px;
    color: black;
    position: relative;
    border: 1px solid rgba(167, 167, 167, 0.2);
}

.table .occupant img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgba(167, 167, 167, 0.2);
}

.table .occupant.noBorder img{
    border: none;
}

.table .occupant .name{
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    text-align: center;
}

#meeting{
    position: fixed;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    background: black;
    z-index: 3;
    overflow: visible;
}

#meetingTab{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 25px;
    position: absolute;
    bottom: 0;
    right: -25px;
    background: #2f2f2f;
    border-radius: 0 2px 2px 0;
}

#meetingTab > *{
    cursor: pointer;
}

#meetingTab > *:hover{
    background: #525252;
}

#meetingTab.fullscreen{
    flex-direction: row;
    top: 0;
    right: 0;
    height: 50px;
    width: 100px;
}

#meetingTab.fullscreen > *{
    height: 35px;
    width: 35px;
}

#meetingTab.fullscreen #dragTag{
    display: none;
}

#homeBlocker{
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
}

iframe.resize{
    resize: both;
    overflow: auto;
}
